*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #EAC926;
    font-size: 12px;
}
.logoMercadoLiebre__img{
    width: 200px;
    height: 150px;
    margin: -20px 0px -30px 40px;
}
.barraDeBusqueda__span{
    background-color: #fff;
    color: #666;
    border: 1px solid #666;
    border-radius: 3px;
    padding: 2px 15px 2px 2px;
    margin-left: 20px;
    display: inline-block;
}
.lupa i{
    background-color: #fff;
    border: 1px solid #666;
    padding: 2px;
    margin-left: 20px;
}
.compraEn{
    text-align: center;
}
ul li a{
    text-decoration: none;
    color: #000;
}
ul{
    list-style-type: none;
    padding: 0;
}
.burger-menu{
    background-color: #1259c3;
    color: #fff;
    text-align: center;
    margin: auto;
    width: 20px;
    padding: 8px;
    border-radius: 7px;
}
.basadoEnTuUltimaVisita h3, .ofertas h3{
    font-size: 24px;
}
.basadoEnTuUltimaVisita article img, .ofertas article img{
    width: 300px;
}
.precios{
    font-size: 18px;
}
.descuentos, .descripcion{
    font-size: 16px;
}